/* Contact */
.otoiawase h5 {
    text-align: center;
    padding: 30px;
    font-family: biz-r;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.con {
  text-align: center;
  margin-bottom: 100px;
}