.btn,
a.btn,
button.btn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 60px;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color {
  border-radius: 0;
  background: #f0bfe5ef;
  height: 60px;
}

a.btn-border-shadow--color:before {
  border-radius: 0;
}

.w-meisi {
    display: flex;
}

.w-maya {
    display: flex;
}

.w-fish {
    display: flex;
}

/* 名刺 */
.w-meisi {
    justify-content: center;
    margin-bottom: 10rem;
}

.w-meisi h3 {
  font-family: biz;
}

.w-meisi p {
  font-family: biz-r;
}

.w-meisi img {
    margin-right: 50px;
}

.w-meisi > .btn {
    margin-top: 20rem;
    font-family: biz;
}

/* MAYA1 */
.w-maya {
    justify-content: center;
    margin-bottom: 10rem;
}

.w-maya h3 {
  font-family: biz;
}

.w-maya p {
  font-family: biz-r;
}


.w-maya img {
    margin-left: 50px;
}

.w-maya > .btn {
    margin-top: 10rem;
    font-family: biz;
}

/* MAYA2 */
.w-fish {
    justify-content: center;
    margin-bottom: 15rem;
}

.w-fish h3 {
  font-family: biz;
}

.w-fish p {
  font-family: biz-r;
}

.w-fish img {
    margin-right: 50px;
}

.w-fish > .btn {
    margin-top: 10rem;
    font-family: biz;
}

main h3 {
    padding-top: 5rem;
}

footer {
    margin-top: 50px;
}

h2 {
  font-family: biz;
  margin-top: 50px;
}

.snip1543 img {
  margin-right: 7px;
  margin-left: 10px;
}

.lead2 > .lead {
  margin-bottom: 100px;
}